html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%
}

@-ms-viewport{
  width: device-width;
}



.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}
.already-visible {
    transform: translateY(0);
    animation: none;
}
@keyframes come-in {
    to {
        transform: translateY(0);
    }
}
div:after {
    display: inline-block;
}
.square {
    background: #2db34a;
    border-radius: 6px transition-property: background, border-radius;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.square:hover {
    background: #3498DB;
    border-radius: 50%;
}
.offer-box {
    background: black;
    height: 20vw;
    width: 20vw;
    border-radius: 10px;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
    z-index: 0;
}
.offer-box h1 {
    color: #white;
    z-index: 0;
}
.offer-box p {
    color: #080808;
    font-size: 12vw;
    z-index: 0;
}
body {
    height: 100%;
    width: screen;
    position: absolute;
    background: #3498DB;


}
div {
    text-align: justify;
}
div img {
    display: inline-block;
    width: 5vw;
    height: 5vw;
        margin-left: 5%;
}
div:after {
    display: inline-block;
}
}
.parallax {} .parallax2 {
    background: #ECF0F1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://res.cloudinary.com/dqle7rqpy/image/upload/v1479210297/Screen_Shot_2016-11-15_at_12.44.24_PM_qcpcju.png");
}
.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #ECF0F1;
    line-height: 2.5;
    text-align: center;
    background: #2980B9;
    position: absolute;
    top: 5vw;
    left: 3vw;
    z-index: 2;
}
.circle2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #ECF0F1;
    line-height: 2.5;
    text-align: center;
    background: #2980B9;
    position: absolute;
    top: 5vw;
    right: 3vw;
    z-index: 2;
    float:left;
}
.circle3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #ECF0F1;
    line-height: 2.5;
    text-align: center;
    background: #2980B9;
    position: absolute;
    bottom: 5vw;
    right: 3vw;
    z-index: 2;
}
.circle4 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #ECF0F1;
    line-height: 2.5;
    text-align: center;
    background: #2980B9;
    position: absolute;
    bottom: 5vw;
    left: 3vw;
    z-index: 2;
}
h1 {
    font-family: 'Lobster Two', sans-serif;
    color: #E74C3C;
    font-size: 14vw;
    left: 0;
    margin: 0px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-top: 100%;
    }
    to {
        width: 100%;
    }

    .col-centered{
    float: none;
    margin: 0 auto;
}
}
h2 {
    font-family: 'Lobster Two', sans-serif;
    color: #E74C3C;
    font-size: 6vw;
    class="img-responsive";
    left: 10;
padding-left: 10px;
}
h3 {
    font-family: sans-serif;
    font-size: 17px;
    writing-mode: tb-rl;
margin-right: 10%;
    color: #E74C3C;
}
h4 {
    font-family: sans-serif;
    font-size: 4vw;
    color: white;
}
h5 {
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    color: #ECF0F1;
}
h6 {
    font-family: helvetica;
font-size: 7.4vw;
    color: white;
    font-weight: bold;
        margin-bottom: 5%;

}


p {} li {
    display: inline;
    text-align: left;
}
#toTop img:hover {
    cursor: pointer;
}
#body_div {
    top: 0;
    position: relative;
    height:100%;
    background-color: #2C3E50;
    z-index: 2;
}
nav span {
    transition: all 3s ease-in;
    position: absolute;
    z-index: 2;
}
header nav {
    font-size: 1em;
    position: absolute;
    right: 0px;
    z-index: 2;
    margin-top: 30px;
    display: inline-block;
}
header nav {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    padding: 1em 1em;
    z-index: 2;
}
.circle5 {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.about .one-third,
.about .two-thirds {
    padding-right: 80px;
    padding-left: 80px;
}
a {
    color: #E74C3C;
}

element.style {
    height: 26vw;
    background-color: black;
    font-color: white;
    font-size: 36px;
}
.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}